

<!-- /sections/home-features.liquid -->
<div class="grid--full home-promotion-block card-shadow ">

   <div class="grid__item home-rich-text text-center">
    <div class="feature-content home-reveal">
      {% if section.settings.title != blank %}
      <h1 class="black">{{ section.settings.title | escape }}</h1>
      {% endif %}
      {% if section.settings.subheading_richtext != blank %}
      <div class="h5">{{ section.settings.subheading_richtext }}</div>
      {% endif %}
      {% if section.settings.link != blank %}<a href="{{section.settings.link}}" class="btn">{{ section.settings.button | escape }}</a>{% endif %}
    </div>
  </div>

</div>

{% schema %}
{
"name": "Rich text",
"name": "Image",
"settings": [
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Talk about your brand"
},
{
"type": "richtext",
"id": "subheading_richtext",
"label": "Text",
"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
},
{
"type": "text",
"id": "button",
"label": "Button label"
},
{
"type": "url",
"id": "link",
"label": "Button link"
}
],
  "presets": [
  {
  "name": "Rich text",
  "category": "Text"
  }
  ]
  }
{% endschema %}