<!-- /templates/404.liquid -->
<div class="grid--full page-wrapper">
  <div class="grid__item large--two-thirds push--large--one-sixth">
    <h1 class="page-title">{{ 'general.404.title' | t }}</h1>
    {% comment %}
    Regular page content goes here.
    {% endcomment %}
    <div class="page-text">
      <p>{{ 'general.404.subtext_html' | t }}</p>
    </div>
  </div>
</div>

{%comment%}
"Angelheaded hipsters burning for the ancient heavenly connection to the starry dynamo in the machinery of night" - Allen Ginsberg
{%endcomment%}